.myContainer{
  width: 100%;
  height: 90vh;
  background-color: white;
  .slideOne{
    background-color: #8a2be2;
    overflow: hidden;
  }
  .slideTwo{
    background-color: coral;
    overflow: hidden;
  }
  .slideThree{
    background-color: mediumslateblue;
    overflow: hidden;
    .endSlideInfo{
      overflow: hidden;
      width: 65vw;
      height: 90vh;
      padding-top: 9vh;
      padding-right: 10vh;
      padding-left: 5vh;
      text-align: left;
      float: right;
      .game{
        border: white 2px solid;
        border-bottom: white 20px solid;
        margin: 0;
      }
      h1{
        font-family: Muller;
        font-size: 70px;
        line-height: 55px;
        font-weight: bold;
        color: white;
      }
      .headerInfoAnim{
        animation: headerInfo 2s ease-out forwards;
      }
      .AnimExit{
        opacity: 0;
      }
      @keyframes headerInfo {
        0%{
          transform: translateX(1000px);
        }
        40%{
          transform: translateX(-30px);
        }
        100%{
          transform: translateX(0);
        }
      }
      @keyframes opacityInfo {
        0%{
          opacity: 0;
        }
        70%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
      .Anim{
        animation: opacityInfo 2s;
      }
      .additBlock{
        width: 100%;
        float: left;
        padding-top: 4vh;
        p{
          a{
            font-family: Muller;
            font-size: 3vh;
            color: #eeee36;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.slideInfo{
  overflow: hidden;
  width: 65vw;
  height: 90vh;
  padding-top: 9vh;
  padding-right: 10vh;
  padding-left: 5vh;
  text-align: left;
  float: right;
  h1{
    font-family: Muller;
    font-size: 70px;
    line-height: 55px;
    font-weight: bold;
    color: white;
  }
  .headerInfoAnim{
    animation: headerInfo 2s ease-out forwards;
  }
  .AnimExit{
    opacity: 0;
  }
  @keyframes headerInfo {
    0%{
      transform: translateX(1000px);
    }
    40%{
      transform: translateX(-30px);
    }
    100%{
      transform: translateX(0);
    }
  }
  ul{
    text-decoration: none;
    list-style: none;
    width: 88%;
    padding: 0;
    background-color: white;
    li{
      position: relative;
      width: calc(100%/3);
      display: inline;
      float: left;
      margin:0 !important;
      padding:0 !important;
      overflow: hidden;
      transition: transform 1000ms ease-out;
      height: calc((65vw - 15vh)*0.88/3);
      div{
        margin:0;
        width: 101%;
        height: 101%;
        position: absolute;
        top:0;
        left:0;
        z-index: 1000;
        text-align: center;
        display: table;
        opacity: 0;
        vertical-align: middle;
        transition: all 1000ms ease-out;
        p{
          transform: rotateY(-180deg);
          display: table-cell;
          vertical-align: middle;
          font-family: "Calibri Light";
          font-size: 4.5vh;
          opacity: 0;
          transition: opacity 200ms ease-out;
        }
      }
      img{
        width: 100%;
        min-width: 100%;
        height: calc((65vw - 15vh)*0.88/3);
        transition: transform 1000ms ease-out;
      }
    }
    li:hover{
      cursor: pointer;
      div{
        opacity: 0.95;
        //background-color: rgba(138, 43, 226, 0.95);
        p{
          opacity: 1;
        }
        transform: rotateY(180deg);
      }
      img{
        transform: rotateY(180deg);
      }
    }
  }
  @keyframes opacityInfo {
    0%{
      opacity: 0;
    }
    70%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .Anim{
    animation: opacityInfo 2s;
  }
  .gitHubBlock{
    width: 100%;
    float: left;
    padding-top: 8vh;
    p{
      a{
        font-family: Muller;
        font-size: 3vh;
        color: #eeee36;
        text-decoration: underline;
      }
    }
  }
}

@keyframes opacityAva {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.mobileButton{
  display: none;
}
.avatarBlock{
  position: absolute;
  top:10vh;
  left:0;
  z-index: 1000000;
  overflow: hidden;
  padding-top: 9vh;
  padding-left: 10vh;
  width: 35vw;
  animation: opacityAva 2s;
  .avatar{
    height: 20vw;
    width: 20vw;
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    img{
      margin-top: -10%;
      width: 21vw;
      min-width: 200px;
    }
  }
}

.avatarInfo{
  margin-top: 8vh;
  display: block;
  .educationBlock{
    width: 100%;
    display: flex;
    text-align: left;
    p{
      color: white;
      line-height: 4vh;
      padding-left: 2vh;
      font-family: Muller;
      font-size: 2.5vh;
      margin:0;
    }
    span{
      width: 4vh;
      height: 4vh;
      img{
        width: 4vh;
      }
    }
  }
  .basketballBlock{
    margin-top: 0vh;
    width: 100%;
    display: flex;
    text-align: left;
    p{
      color: white;
      line-height: 4vh;
      padding-left: 2vh;
      font-family: Muller;
      font-size: 2.5vh;
      margin:0;
    }
    span{
      width: 3.8vh;
      height: 3.8vh;
      img{
        width: 3.8vh;
      }
    }
  }
  .SNblock{
    width: 100%;
    display: flex;
    text-align: left;
    .SNbutton{
      display: flex;
      margin: 0;
      padding-right: 15px;
      svg{
        color: #eeee36;
        font-size: 35px;
        margin:0;
        transition: all 500ms ease-in;
        float: left;
      }
      svg:hover{
        cursor:pointer;
        color: white;
      }
    }
    .SNlistFull{
      width: 100%;
      transition: all 800ms linear;
      overflow: hidden;
    }
    .SNlistShort{
      width: 0;
      transition: all 800ms linear;
      overflow: hidden;
    }
    .SNlist{
      height: 40px;
      transition: all 800ms linear;
      margin: 0;
      float: left;
      a{
        text-decoration: none;
        color: white;
        svg{
          font-size: 35px;
          margin:0;
          margin-left: 10px;
          transition: all 500ms ease-in;;
        }
        svg:hover{
          cursor:pointer;
          transform: scale(1.1);
          color: #eeee36;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .mobileButton{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10000000;
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    img{
      width: 101%;
    }
    svg{
      color: white;
      font-size: 25px;
    }
  }
  .mobileButton:hover{
    cursor: pointer;
  }
  .avatarBlock{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 1000000;
    overflow: hidden;
    width: 60px;
    height: 60px;
    background-color: #c7c5c5;
    animation: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @keyframes mobileAva {
    0%{
      width: 100vw;
      height: 100vh;
    }
    100%{
      width: 100vw;
      height: 100vh;
    }
  }
  .avatarBlockClosed{
    display: none;
  }
  .avatarBlockOpened{
    width: 100vw;
    height: 100vh;
    transition: all 1.5s ease-out;
  }
  .avatarInfo {
    .educationBlock {
      p {
        font-size: 14px;
      }
      span {
        width: 25px;
        height: 25px;

        img {
          width: 25px;
        }
      }
    }
    .basketballBlock {
      p {
        font-size: 14px;
      }

      span {
        width: 25px;
        height: 25px;

        img {
          width: 25px;
        }
      }
    }
  }
  .endSlideInfo{
    padding-left: 6vw !important;
    width: 100% !important;
    .game{
    }
    h1{
    }
    .additBlock{
      padding-top: 2vh !important;
    }
  }
  .slideInfo{
    padding-left: 6vw;
    width: 100%;
    ul{
      width: 80%;
      li{
        height: calc((100vw - 15vh)*0.80/3);
        img{
          width: 100%;
          min-width: 100%;
          height: calc((100vw - 15vh)*0.80/3);
        }
      }
    }
    .gitHubBlock{
      padding-top: 2vh;
    }
  }
  .endSlideInfo{
    width: 100vw !important;
    float: left;
  }
}

@media screen and (max-width: 670px) {
  .slideInfo{
    h1{
      font-size: 60px;
      line-height: 45px;
    }
  }
  .endSlideInfo{
    padding-right:0 !important;
    .game{
    }
    h1{
      font-size: 60px !important;
      line-height: 46px !important;
    }
  }
}

@media screen and (max-width: 490px) {
  .endSlideInfo{
    padding-right:0 !important;
    .game{
    }
    h1{
      font-size: 50px !important;
      line-height: 39px !important;
      margin-bottom: 10px !important;
    }
  }
  .slideInfo{
    padding-right:0;
    h1{
      font-size: 50px;
      line-height: 38px;
    }
    ul{
      width: 90%;
      li{
        height: calc((94vw)*0.9/3);
        img{
          width: 100%;
          min-width: 100%;
          height: calc((94vw)*0.9/3);
        }
        div{
          width: 110%;
          height: 110%;
          p{
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .endSlideInfo{
    padding-left: 3vw !important;
    .game{
      border-bottom: 15px white solid !important;
    }
    h1{
      font-size: 45px !important;
      line-height: 35px !important;
      margin-bottom: 30px !important;
    }
    .additBlock{
      padding-top: 8vh !important;
      p{
        a{
          font-size: 15px !important;
        }
      }
    }
  }
  .slideInfo {
    padding-left: 3vw;
    h1 {
      font-size: 45px;
      line-height: 35px;
    }
    .gitHubBlock{
      p{
        a{
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .slideInfo {
    h1 {
      font-size: 40px;
      line-height: 32px;
    }
  }
  .endSlideInfo {
    h1 {
      font-size: 40px !important;
      line-height: 32px !important;
    }
  }
}
@media screen and (max-width: 320px) {
  .slideInfo {
    h1 {
      font-size: 36px;
      line-height: 29px;
    }
  }
  .endSlideInfo {
    h1 {
      font-size: 36px !important;
      line-height: 29px !important;
    }
    .additBlock{
      padding-top: 4vh !important;
      p{
        a{
          font-size: 12px !important;
        }
      }
    }
  }
}

@media screen and (max-height: 450px) {
  .endSlideInfo {
    padding-right:0 !important;
    h1 {
      display: none;
    }
    .game{
      border-bottom: 3vh white solid !important;
    }
    .additBlock{
      p{
        margin-top: -2vh !important;
        a{
          font-size: 3vh !important;
        }
      }
    }
  }
  .slideInfo{
    padding-right:0;
    h1{
      font-size: 14vh;
      line-height: 11.5vh;
      margin-bottom: 2vh;
    }
    ul{
      width: 100vh;
      li{
        height: calc(100vh/3);
        img{
          width: 100%;
          min-width: 100%;
          height: calc(100vh/3);
        }
        div{
          width: 110%;
          height: 110%;
          p{
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media screen and (max-height: 380px) {
  .avatarBlock{
    .avatar{
      height: 20vw;
      width: 20vw;
      min-width: 120px;
      min-height: 120px;
      img{
        width: 21vw;
        min-width: 120px;
      }
    }
  }
  .endSlideInfo {
    .additBlock{
      p{
        float: right !important;
        margin-top: -10vh !important;
        margin-right: 5vw;
        a{
          font-size: 3vh !important;
        }
      }
    }
  }
}