.name{
  float: left;
  font-family: Muller;
  font-size: 3vh;
  font-weight: bold;
  line-height: 10vh;
  animation: name 2000ms;
}

@keyframes name {
  0%{
    transform: translateX(-1000px);
  }
  40%{
    transform: translateX(100px);
  }
  100%{
    transform: translateX(0);
  }
}